</main>
<footer class="border-t border-[#6B7A93] bg-[#FFF3E2]">
	<div class="container mx-auto sm:px-0 px-[20px] sm:py-[84px] py-[40px]">
		<div class="grid grid-cols-6 gap-[6px]">
			<div class="sm:col-span-2 col-span-6">
				<a href="/">
					<img src="/image/catalog/logo_image.png"/>
				</a>
				<div class="mt-[20px] text-[#080E16] max-w-[270px]">
					As a member of the LittleMinis’ members club, you’ll get great discounts on everything from perfumes to skincare products. The first month is always free.

				</div>
				<div class="font-bold mt-[26px]">
					<a href="#">Start saving today!</a>
				</div>
			</div>
			{% if informations %}
				<div class="sm:col-span-1 col-span-3 w-full sm:mt-0 mt-[30px]">
					<h5 class="font-bold uppercase pb-[24px]">{{ text_information }}</h5>
					<ul class="list-unstyled">
						{% for information in informations %}
							<li>
								<a href="{{ information.href }}">{{ information.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="sm:col-span-1 col-span-3 w-full sm:mt-0 mt-[30px]">
				<h5 class="font-bold uppercase pb-[24px]">{{ text_service }}</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ contact }}">{{ text_contact }}</a>
					</li>
					<li>
						<a href="{{ return }}">{{ text_return }}</a>
					</li>
					{% if gdpr %}
						<li>
							<a href="{{ gdpr }}">{{ text_gdpr }}</a>
						</li>
					{% endif %}
					<li>
						<a href="{{ sitemap }}">{{ text_sitemap }}</a>
					</li>
				</ul>
			</div>
			<div class="sm:col-span-1 col-span-6 w-full">
				<h5 class="font-bold uppercase pb-[24px]">{{ text_extra }}</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
					</li>
					<li>
						<a href="{{ voucher }}">{{ text_voucher }}</a>
					</li>
					{% if affiliate %}
						<li>
							<a href="{{ affiliate }}">{{ text_affiliate }}</a>
						</li>
					{% endif %}
					<li>
						<a href="{{ special }}">{{ text_special }}</a>
					</li>
				</ul>
			</div>
			<div class="sm:col-span-1 col-span-6 w-full">
				<h5 class="font-bold uppercase pb-[24px]">{{ text_account }}</h5>
				<ul class="list-unstyled">
					<li>
						<a href="{{ account }}">{{ text_account }}</a>
					</li>
					<li>
						<a href="{{ order }}">{{ text_order }}</a>
					</li>
					<li>
						<a href="{{ wishlist }}">{{ text_wishlist }}</a>
					</li>
					<li>
						<a href="{{ newsletter }}">{{ text_newsletter }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="border-t border-[#6B7A93]">
		<div class="container mx-auto sm:px-0 px-[20px] sm:flex gap-[30px] sm:py-[20px] pt-[30px] pb-[40px]">
			<div class="flex items-center gap-[8px] font-bold">
				<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11 10.5H12.5V9M11 4.5H12.5V6M4 4.5H2.5V6M2.5 9V10.5H4M7.5 9.5C6.39543 9.5 5.5 8.60457 5.5 7.5C5.5 6.39543 6.39543 5.5 7.5 5.5C8.60457 5.5 9.5 6.39543 9.5 7.5C9.5 8.60457 8.60457 9.5 7.5 9.5ZM1.5 2.5H13.5C14.0523 2.5 14.5 2.94772 14.5 3.5V11.5C14.5 12.0523 14.0523 12.5 13.5 12.5H1.5C0.947716 12.5 0.5 12.0523 0.5 11.5V3.5C0.5 2.94772 0.947715 2.5 1.5 2.5Z" stroke="#080E16"/>
				</svg>
				<span class="text-[#080E16]">PAYMENT OPTIONS</span>
			</div>
			<div class="sm:flex grid grid-cols-4 sm:flex-wrap sm:gap-[30px] gap-[18px] sm:mt-0 mt-[20px]">
				<img src="/image/catalog/payment_options/Paycard (0).png"/>
				<img src="/image/catalog/payment_options/Paycard (1).png"/>
				<img src="/image/catalog/payment_options/Paycard (2).png"/>
				<img src="/image/catalog/payment_options/Paycard (3).png"/>
				<img src="/image/catalog/payment_options/Paycard (4).png"/>
				<img src="/image/catalog/payment_options/Paycard (5).png"/>
				<img src="/image/catalog/payment_options/Paycard (6).png"/>
			</div>
		</div>
	</div>
	<div class="border-t border-[#6B7A93] bg-[#f5f5f5]">
		<div class="container mx-auto sm:px-0 px-[20px] flex justify-between sm:items-start sm:gap-0 gap-[16px] items-center text-center sm:flex-row flex-col py-[26px] text-[#6B7A93]">
			<p>{{ text_powered }}</p>
			<p>{{ copyright }}</p>
		</div>
	</div>
</footer>
{{ cookie }}
<script src="{{ bootstrap }}" type="text/javascript"></script>
{% for script in scripts %}
	<script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script></body></html>
