{{ header }}
<div id="common-home">
	{{ content_banner }}

	{{ column_left }}

	{{ content_top }}
	{{ content_bottom }}

	{{ column_right }}
</div>

{{ section_ads }}

{{ section_members }}
{{ section_best_deals }}

{{ footer }}
