{{ header }}
<div id="common-home">
	{{ content_banner }}

	{{ column_left }}

	<hr/>
	{{ content_top }}
	<hr/>
	{{ content_bottom }}

	{{ column_right }}
</div>

{{ section_best_deals }}
{{ section_members }}

{{ footer }}
