{{ header }}

<div id="information-contact" class="text-center bg-orangeLight flex justify-between items-end relative">
  <div class="sm:py-[40px] py-[30px] w-full h-full">
    <div class="container">
			<div class="row">
				<div id="content" class="col">
					<div class="flex justify-center sm:flex sm:text-[40px] text-[30px] font-bold text-orange uppercase">
						{{ heading_title }}
					</div>
					<div class="flex justify-center mt-[20px]">
						<div class="">{{ text_location }}:&nbsp;</div>
						<div>{{ store }}</div>&nbsp;
						<div>
							{{ address }}
						</div>
						{% if geocode %}
						<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa-solid fa-location-dot"></i> {{ button_map }}</a>
						{% endif %}
						<div>,{{ text_telephone }}:&nbsp;</div>
						<div class="">{{ telephone }}</div>
					</div>
					<div class="col-sm-3">
						{% if open %}
							<div>{{ text_open }}</div>
							<br/>
							{{ open }}
							<br/>
							<br/>
						{% endif %}
						{% if comment %}
							<div>{{ text_comment }}</div>
							<br/>
							{{ comment }}
						{% endif %}
					</div>
				</div>
					

				<form id="form-contact" action="{{ send }}" method="post" data-oc-toggle="ajax" class="block mt-[20px]">
					<div class="flex flex-col items-center gap-[10px]">
						<div class="sm:max-w-[400px] w-full">
							<input type="text" name="name" value="{{ name }}" id="input-name" class="w-full" placeholder="{{entry_name}}"/>
							<div id="error-name" class="invalid-feedback"></div>
						</div>
						<div class="sm:max-w-[400px] w-full">
							<input type="text" name="email" value="{{ email }}" id="input-email" class="w-full" placeholder="{{entry_email}}"/>
							<div id="error-email" class="invalid-feedback"></div>
						</div>
						<div class="sm:max-w-[400px] w-full">
							<textarea name="enquiry" rows="10" id="input-enquiry" class="w-full" placeholder="{{entry_enquiry}}"></textarea>
							<div id="error-enquiry" class="invalid-feedback"></div>
						</div>
						{{ captcha }}
						<div class="sm:max-w-[400px] w-full flex justify-end">
							<button type="submit" class="bg-indigo text-white px-[20px] py-[6px]">{{ button_submit }}</button>
						</div>
					</div>
				</form>
			</div>
    </div>
  </div>
</div>

{{section_best_deals}}
{{ footer }}
