{{ header }}
<div id="information-information" class="{% if meta_description == 'with background' %} bg-orangeLight text-center {% endif %} flex justify-between items-end relative">
  <img src="/image/catalog/objects/howitworks_left.png" alt="" srcset="" class="{% if meta_description == 'with background' %} sm:block {% endif %} hidden absolute left-0 bottom-0">
  <img src="/image/catalog/objects/howitworks_right.png" alt="" srcset="" class="{% if meta_description == 'with background' %} sm:block {% endif %} hidden absolute right-0 bottom-0">
  <div class="sm:py-[40px] py-[30px] w-full h-full">
    <div class="container">
      <div id="content" class="relative sm:py-[40px] py-[30px] sm:text-[16px] text-[12px]">
        <div class="">{{description}}</div>
        {{meta_description}}
      </div>
    </div>
  </div>
</div>
{{ section_members }}
{{ section_more_buy }}
{{ section_how_possible }}
{{ section_know_more }}
{{ section_best_deals }}
{{ footer }}