{{ header }}
<div id="information-information" class="sm:h-[400px] text-center bg-orangeLight flex justify-between items-end relative">
  <img src="/image/catalog/objects/howitworks_left.png" alt="" srcset="" class="sm:block hidden">
  <img src="/image/catalog/objects/howitworks_right.png" alt="" srcset="" class="sm:block hidden">
  <div class="sm:py-[40px] py-[30px] sm:absolute w-full h-full">
    <div class="container">
      <h1 class="sm:text-[40px] text-[30px] font-bold">{{ text_heading_title_1 }}&nbsp;<span class="text-orange">'LITTLEMINI'</span>{{ text_heading_title_2 }}</h1>
      <div id="content" class="sm:py-[40px] py-[30px] sm:text-[16px] text-[12px] text-center">
        <div class="font-bold uppercase">{{ text_description_title }}</div>
        <div class="sm:mt-[40px] mt-[30px]">{{text_description_content}}</div>
      </div>
    </div>
  </div>
</div>
{{ section_members }}
{{ section_more_buy }}
{{ section_how_possible }}
{{ section_know_more }}
{{ section_best_deals }}
{{ footer }}