{% for product in products %}
	<div class="cart-item flex py-[20px] border-b border-darkBlue">
		<div class="text-center">
			{% if product.thumb %}
				<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="w-[120px]"/></a>
			{% endif %}
		</div>
		<div class="grow flex justify-between py-[16px]">
			<div class="flex flex-col justify-between">
				<div class="">
					<a href="{{ product.href }}" class="font-bold">{{ product.name }}</a>
					{% if not product.stock %}
						<span class="text-danger">***</span>
					{% endif %}
					{% if product.option %}
						{% for option in product.option %}
							<br/>
							<small>
								-
								{{ option.name }}:
								{{ option.value }}</small>
						{% endfor %}
					{% endif %}
					{% if product.reward %}
						<br/>
						<small>{{ text_points }}:
							{{ product.reward }}</small>
					{% endif %}
					{% if product.subscription %}
						<br/>
						<small>{{ text_subscription }}:
							{{ product.subscription }}</small>
					{% endif %}
					<div class="text-start text-[10px] mt-[4px]">{{ product.model }}</div>
				</div>
				<div class="flex gap-[10px]">
					<div class="w-[12px] h-[12px] bg-green rounded-full"></div>
					<div class="text-[10px] opacity-[0.5]">Delivery: 1-4 days</div>
				</div>
			</div>
			<div class="flex flex-col justify-between">
				<div class="">
					<div class="text-end text-orange font-bold text-[19px]">{{ product.price }}</div>
				</div>
				<div class="text-start">
					<form method="post" data-oc-target="#shopping-cart">
						<div class="flex items-center">
							<input
							type="hidden" name="key" value="{{ product.cart_id }}">

							{# - #}
							<button type="button" formaction="{{ product_edit }}" formaction-remove="{{ product_remove }}" title="{{ product_edit }}" class="btn-cart-change-quantity" data-diff="-1">
								<svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="12.5" cy="12.5" r="12" fill="white" stroke="#6B7A93"/>
									<path d="M6 12.5H19" stroke="#080E16"/>
								</svg>
							</button>
							<input
							type="text" name="quantity" value="{{ product.quantity }}" size="1" class="text-[18px] !border-none !ring-0 px-[8px] py-0 text-center" readonly>
							{# + #}
							<button type="button" formaction="{{ product_edit }}" formaction-remove="{{ product_remove }}" title="{{ button_update }}" class="btn-cart-change-quantity" data-diff="1">
								<svg width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="12.5" cy="12.5" r="12" fill="white" stroke="#6B7A93"/>
									<path d="M12.5 6V19M6 12.5H19" stroke="#080E16"/>
								</svg>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
