{{ header }}
<div id="checkout-checkout" class="container mx-auto sm:px-0 px-[20px]">
	<div id="checkout-register">{{ register }}</div>

	<div id="checkout-shipping-address-method">
		{{ shipping_address }}
		{{ shipping_method }}
	</div>

	<div id="checkout-confirm" class="hidden">
		{{ confirm }}
	</div>
	<div id="checkout-payment-method" class="hidden">
		{{ payment_method }}
	</div>
</div>
{{ section_save_membership }}
{{ section_best_deals }}
{{ footer }}
