{{ header }}
<div id="checkout-checkout" class="container mx-auto sm:px-0 px-[20px]">
	<div id="checkout-register">{{ register }}</div>

	{% if payment_address %}
		<div id="checkout-payment-address">{{ payment_address }}</div>
	{% endif %}

	{% if shipping_address %}
		<div id="checkout-shipping-address">{{ shipping_address }}</div>
	{% endif %} 

	{% if shipping_method %}
		<div id="checkout-shipping-method" class="mb-3">{{ shipping_method }}</div>
	{% endif %}
	
</div>
{{ section_save_membership }}
{{ section_best_deals }}
{{ footer }}
