<h1 class="sm:mt-[40px] mt-[30px] sm:text-[40px] text-[30px] font-bold flex justify-between uppercase">
    <div class="flex">
        {{ heading_title_1 }}&nbsp;<span class="text-orange">{{heading_title_2}}</span>
    </div>
    <div class="opacity-[0.5]">(4/4)</div>
</h1>

<form id="form-payment-method">
  <fieldset>
    <legend>{{ heading_title }}</legend>
    <div class="input-group">
      <select name="payment_method" id="input-payment-method" class="form-select"{% if not payment_methods %} disabled{% endif %}>
        <option value="">{{ text_select }}</option>
        {% for payment_method in payment_methods %}
          <option value="{{ payment_method.code }}"{% if payment_method.code == code %} selected{% endif %}>{{ payment_method.title }}</option>
        {% endfor %}

        {% if stores %}
          <optgroup label="{{ text_stored }}">
            {% for store in stores %}
              <option value="{{ store.code }}"{% if store.code == code %} selected{% endif %}>{{ store.name }}</option>
            {% endfor %}
          </optgroup>
        {% endif %}
      </select>
      <button type="button" id="button-payment-method" class="btn btn-light"><i class="fa-solid fa-rotate"></i></button>
    </div>
  </fieldset>
</form>
<br/>
{% if text_agree %}
  <div class="mb-2">
    <div class="text-end">{{ text_agree }} <input type="hidden" name="agree" value="1" id="input-agree" /></div>
  </div>
{% endif %}

<div id="checkout-payment">
  {% if payment %}
    {{ payment }}
  {% endif %}
</div>

<script type="text/javascript">
// Payment Methods
$('#button-payment-method').on('click', function () {
    var element = this;

    chain.attach(function () {
        return $.ajax({
            url: 'index.php?route=checkout/payment_method|getMethods&language={{ language }}',
            dataType: 'json',
            beforeSend: function () {
                $('#input-payment-method').prop('disabled', true);
            },
            success: function (json) {
                console.log(json);

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                      toast({type: 'error', text: json['error']})

                    $('#input-shipping-method').prop('disabled', true);
                }

                html = '<option value="">{{ text_select }}</option>';

                if (json['payment_methods']) {
                    for (i in json['payment_methods']) {
                        if (json['payment_methods'][i]['code'] == $('#input-payment-method').val()) {
                            html += '<option value="' + json['payment_methods'][i]['code'] + '" selected>' + json['payment_methods'][i]['title'] + '</option>';
                        } else {
                            html += '<option value="' + json['payment_methods'][i]['code'] + '">' + json['payment_methods'][i]['title'] + '</option>';
                        }
                    }

                    $('#input-payment-method').prop('disabled', false);
                }

                $('#input-payment-method').html(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});

// Payment Method
$('#input-payment-method').on('change', async function () {
    var element = this;

    chain.attach(function () {
        return $.ajax({
            url: 'index.php?route=checkout/payment_method|save&language={{ language }}',
            type: 'post',
            data: $('#form-payment-method').serialize(),
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded',
            beforeSend: function () {
                $(element).prop('disabled', true);
            },
            complete: function () {
                $(element).prop('disabled', false);
            },
            success: function (json) {
                console.log(json);

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                    toast({type: 'error', text: json['error']})
                }

                if (json['success']) {
                    toast({type: 'success', text: json['success']})
                }
                
                $('#checkout-payment').html(json['payment'])
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

});

</script>
