<h1 class="sm:mt-[40px] mt-[30px] sm:text-[40px] text-[30px] font-bold flex justify-between">
	<div class="flex">
		{{ heading_title_1 }}&nbsp;<span class="text-orange">{{heading_title_2}}</span>
	</div>
	<div class="opacity-[0.5]">(1/4)</div>
</h1>

<form id="form-register" class="sm:mt-[38px] mt-[28px]">
	<div class="flex justify-between sm:text-[16px] text-[12px]">
		<div>{{ heading_title }}</div>
		<div class="flex flex-col items-end">
			<p>{{ text_login }}</p>
			<a href="{{ login }}" class="block border border-dark px-[16px] py-[3px] mt-[6px]">{{text_btn_login}}</a>
		</div>
	</div>
	<div class="sm:mt-[20px] mt-[15px] border-t border-darkBlue sm:pt-[20px] sm:pb-[80px] pt-[15px] pb:-[60px] flex flex-col gap-[14px]">
		<div class="hidden">
			<select name="customer_group_id" id="input-customer-group" class="form-select">
				{% for customer_group in customer_groups %}
					<option value="{{ customer_group.customer_group_id }}" {% if customer_group.customer_group_id == customer_group_id %} selected {% endif %}>{{ customer_group.name }}</option>
				{% endfor %}
			</select>
			<input type="hidden" name="account" value="1" id="input-register" class="form-check-input"/>
		</div>

		{# Names #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-firstname" class="form-label sm:w-[270px] flex items-center">{{ entry_fullname }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required grid grid-cols-2 gap-[20px]">
				<div class="">
					<input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }} ..." id="input-firstname" class="w-full"/>
				</div>
				<div class="">
					<input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }} ..." id="input-lastname" class="w-full"/>
				</div>
			</div>
			<div id="error-firstname" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# C/O #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-c_o" class="form-label sm:w-[270px] flex items-center">C/O (care of):<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required flex items-center">
				<input type="text" name="c_o" value="" placeholder="..." id="input-c_o" class="w-full"/>
			</div>
			<div id="error-c_o" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# House or Flatnumber & Street #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-shipping-address-1" class="form-label sm:w-[270px] flex items-center">{{ entry_address_1 }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required flex items-center">
				<input type="text" name="shipping_address_1" value="{{ shipping_address_1 }}" placeholder="..." id="input-shipping-address-1" class="w-full"/>
			</div>
			<div id="error-shipping-address-1" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# Postal code & City #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-shipping-postcode" class="form-label sm:w-[270px] flex items-center">{{ entry_postcode_city }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required grid grid-cols-5 gap-[30px]">
				<div class="col-span-2">
					<input type="text" name="shipping_postcode" value="{{ shipping_postcode }}" placeholder="{{ entry_postcode }}" id="input-shipping-postcode" class="w-full"/>
				</div>
				<div class="col-span-3">
					<input type="text" name="shipping_city" value="{{ shipping_city }}" placeholder="{{ entry_city }}" id="input-shipping-city" class="w-full"/>
				</div>
			</div>
			<div id="error-shipping-postcode" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# Shipping Zone #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-shipping-zone" class="form-label sm:w-[270px] flex items-center">{{ entry_zone }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required flex items-center">
				<select name="shipping_zone_id" id="input-shipping-zone" class="w-full" data-oc-value="{{ shipping_zone_id }}"></select>
			</div>
			<div id="error-shipping-zone" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# Country #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-shipping-country" class="form-label sm:w-[270px] flex items-center">{{ entry_country }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required flex items-center">
				<select name="shipping_country_id" id="input-shipping-country" class="w-full">
					<option value="">{{ text_select }}</option>
					{% for country in countries %}
						<option value="{{ country.country_id }}" {% if country.country_id == shipping_country_id %} selected {% endif %}>
							{{ country.name }}
						</option>
					{% endfor %}
				</select>
			</div>
			<div id="error-shipping-country" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# Email #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-email" class="form-label sm:w-[270px] flex items-center">{{ entry_email }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required flex items-center">
				<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }} ..." id="input-email" class="w-full"/>
			</div>
			<div id="error-email" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# Telephone #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]{% if config_telephone_required %} required{% endif %}">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-shipping-postcode" class="form-label sm:w-[270px] flex items-center">{{ entry_telephone }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required gap-[30px]">
				<input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }} ..." id="input-telephone" class="w-full"/>
			</div>
			<div id="error-telephone" class="text-[12px] text-orange flex items-center"></div>
		</div>
		{# Password #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end items-center">
				<label for="input-password" class="form-label sm:w-[270px] flex items-center">{{ text_password }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
				</label>
			</div>
			<div class="col-span-2 required flex items-center">
				<input type="password" name="password" value="{{ firstname }}" placeholder="{{ entry_password }} ..." id="input-password" class="w-full"/>
			</div>
			<div id="error-password" class="text-[12px] text-orange flex items-center"></div>
		</div>
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-start-3 col-span-2 required flex items-center">
				<input type="checkbox" name="newsletter" value="1" id="input-newsletter" class=""/>
				<div for="input-newsletter" class="form-check-label">{{ entry_newsletter }}</div>
			</div>
		</div>

		{# Agree #}
		{% if text_agree %}
			<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
				<div class="col-start-3 col-span-2 required flex items-center">
					<input type="checkbox" name="agree" value="1" id="input-register-agree" class="form-check-input"/>
					<div for="input-register-agree" class="form-check-label">{{ text_agree }}</div>
				</div>
			</div>
		{% endif %}
		{# Captcha #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-start-3 col-span-2 required flex items-center">
				<div class="required">{{ captcha }}</div>
			</div>
		</div>
		{# Buttons #}
		<div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
			<div class="col-span-2 flex justify-end">
				<div class="min-w-[270px]">
					<button type="button" id="button-back" class="min-w-[170px] border border-darkBlue text-center uppercase font-bold py-[14px]">{{ button_back }}</button>
				</div>
			</div>
			<div class="col-span-2 required flex justify-end">
				<button type="submit" id="button-register" class="min-w-[170px] bg-indigo text-center text-[white] uppercase font-bold py-[14px]">{{ button_continue }}</button>
			</div>
		</div>
	</div>
</form>

<script>
$('input[name=\'account\']').on('click', function () {
  if ($(this).val() == 1) {
    $('#password').removeClass('d-none');
  } else {
    // If guest hide password field
    $('#password').addClass('d-none');
  }

  if ($(this).val() == 1) {
    $('#agree').removeClass('d-none');
  } else {
    // If guest hide register agree field
    $('#agree').addClass('d-none');
  }
});

$('input[name=\'account\']:checked').trigger('click');

// Customer Group
$('#input-customer-group').on('change', function () {
  var element = this;

  chain.attach(function () {
    return $.ajax({
      url: 'index.php?route=account/custom_field&language={{ language }}&customer_group_id=' + $(element).val(),
      dataType: 'json',
      beforeSend: function () {
        $(element).prop('disabled', true);
      },
      complete: function () {
        $(element).prop('disabled', false);
      },
      success: function (json) {
        $('.custom-field').addClass('d-none');
        $('.custom-field').removeClass('required');

        for (i = 0; i < json.length; i++) {
          custom_field = json[i];

          $('.custom-field-' + custom_field['custom_field_id']).removeClass('d-none');

          if (custom_field['required']) {
            $('.custom-field-' + custom_field['custom_field_id']).addClass('required');
          }
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
});

$('#input-customer-group').trigger('change');

$('#input-address-match').on('change', function () {
  if ($(this).prop('checked')) {
    $('#shipping-address').hide();
  } else {
    $('#shipping-address').show();
  }
});

$('#form-register').on('submit', function (e) {
  e.preventDefault();

  var element = this;

  chain.attach(function () {
    return $.ajax({
      url: 'index.php?route=checkout/register|save&language={{ language }}',
      type: 'post',
      dataType: 'json',
      data: $('#form-register').serialize(),
      contentType: 'application/x-www-form-urlencoded',
      beforeSend: function () {
        $(element).prop('disabled', true).addClass('loading');
      },
      complete: function () {
        $(element).prop('disabled', false).removeClass('loading');
      },
      success: function (json) {
        $('#form-register').find('.is-invalid').removeClass('is-invalid');
        $('#form-register').find('.invalid-feedback').removeClass('d-block');

        console.log(json);

        if (json['redirect']) {
          location = json['redirect'];
        }

        if (json['error']) {
          if (json['error']['warning']) {
            toast({type: 'warning', text: json['error']['warning']})
          }

          for (key in json['error']) {
            $('#input-' + key.replaceAll('_', '-')).addClass('is-invalid').find('.form-control, .form-select, .form-check-input, .form-check-label').addClass('is-invalid');
            $('#error-' + key.replaceAll('_', '-')).html(json['error'][key]).addClass('d-block');
          }
        }

        if (json['success']) {
            toast({type: 'success', text: json['success']})

          if ($('#input-register').prop('checked')) {
            $('input[name=\'account\']').prop('disabled', true);
            $('#input-customer-group').prop('disabled', true);
            $('#input-password').prop('disabled', true);
            $('#input-captcha').prop('disabled', true);
            $('#input-register-agree').prop('disabled', true);
          }

          {% if shipping_required %}
          $('#button-shipping-method').trigger('click');
          {% else %}
						$('#button-payment-method').trigger('click');
					{% endif %}
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
});

$('select[name$=\'_country_id\']').on('change', function () {
  var element = this;
  var type = $(this).attr('name').slice(0, -11);

  chain.attach(function () {
    return $.ajax({
      url: 'index.php?route=localisation/country&language={{ language }}&country_id=' + $('#input-' + type + '-country').val(),
      dataType: 'json',
      beforeSend: function () {
        $(element).prop('disabled', true);
      },
      complete: function () {
        $(element).prop('disabled', false);
      },
      success: function (json) {
        if (json['postcode_required'] == '1') {
          $('#input-' + type + '-postcode').parent().addClass('required');
        } else {
          $('#input-' + type + '-postcode').parent().removeClass('required');
        }

        html = '<option value="">{{ text_select }}</option>';

        if (json['zone'] && json['zone'] != '') {
          for (i = 0; i < json['zone'].length; i++) {
            html += '<option value="' + json['zone'][i]['zone_id'] + '"';

            if (json['zone'][i]['zone_id'] == $('#input-' + type + '-zone').attr('data-oc-value')) {
              html += ' selected';
            }

            html += '>' + json['zone'][i]['name'] + '</option>';
          }
        } else {
          html += '<option value="0" selected>{{ text_none }}</option>';
        }

        $('#input-' + type + '-zone').html(html);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
});

$('select[name$=\'_country_id\']').trigger('change');
</script>
