<form id="form-shipping-method" class="border-t border-darkBlue py-[20px] {% if not shipping_methods %} hidden {% endif %}">
    <input name="shipping_method" id="input-shipping-method" type="hidden" value="" >
    <div class="sm:text-[16px] text-[12px] font-bold">{{ heading_title }}</div>
    <div class="mt-[12px]">
        <div class="max-w-[814px] w-full mx-auto">
            {% for shipping_method in shipping_methods %}
            <div class="mb-[20px]">
                <div class="bg-orangeLight flex justify-between items-center px-[10px] py-[4px] font-bold">
                    <div class="">{{ shipping_method.title }}</div>
                </div>
                <div class="bg-orangeGray flex justify-between items-center px-[10px] py-[15px]">
                    <div class="">{{ shipping_method.title }}</div>
                    <button type="button" class="font-semibold uppercase bg-indigo text-white px-[8px] py-[4px]" onclick="$('#input-shipping-method').val('{{ shipping_method.quote|first.code }}');$('#form-shipping-method').submit();">{{chose_place}}</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</form>
<script type="text/javascript">
// Shipping Methods
async function refreshShippingMethod(){
    chain.attach(function () {
        return $.ajax({
            url: 'index.php?route=checkout/shipping_method|getMethods&language={{ language }}',
            dataType: 'json',
            beforeSend: function () {
                $('#input-shipping-method').prop('disabled', true);
            },
            success: function (json) {
                console.log(json);

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                    toast({type: 'error', text: json['error']})
                }

                // Shipping Methods
                html = '<option value="">{{ text_select }}</option>';

                if (json['shipping_methods']) {
                    for (i in json['shipping_methods']) {
                        html += '<optgroup label="' + json['shipping_methods'][i]['title'] + '">';

                        if (!json['shipping_methods'][i]['error']) {
                            for (j in json['shipping_methods'][i]['quote']) {
                                if (json['shipping_methods'][i]['quote'][j]['cost']) {
                                    text = json['shipping_methods'][i]['quote'][j]['title'] + ' - ' + json['shipping_methods'][i]['quote'][j]['text'];
                                } else {
                                    text = json['shipping_methods'][i]['quote'][j]['title'];
                                }

                                if (json['shipping_methods'][i]['quote'][j]['code'] == $('#input-shipping-method').val()) {
                                    html += '<option value="' + json['shipping_methods'][i]['quote'][j]['code'] + '" selected>' + text + '</option>';
                                } else {
                                    html += '<option value="' + json['shipping_methods'][i]['quote'][j]['code'] + '">' + text + '</option>';
                                }

                            }
                        } else {
                            html += '<option value="" style="color: #ff0000;" disabled>' + json['shipping_methods'][i]['error'] + '</option>';
                        }

                        html += '</optgroup>';
                    }

                    $('#input-shipping-method').prop('disabled', false);
                }

                $('#input-shipping-method').html(html);

                $('#checkout-confirm').load('index.php?route=checkout/confirm|confirm&language={{ language }}');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
};

// Shipping Method
$('#form-shipping-method').on('submit', function (e) {
    e.preventDefault();
    const form = $(this);

    chain.attach(function () {
        return $.ajax({
            url: 'index.php?route=checkout/shipping_method|save&language={{ language }}',
            type: 'post',
            data: form.serialize(),
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded',
            success: function (json) {
                console.log(json);

                if (json['redirect']) {
                    location = json['redirect'];
                }

                if (json['error']) {
                    toast({type: 'error', text: json['error']})
                }

                if (json['success']) {
                    toast({type: 'success', text: json['success']})

                    $('#checkout-shipping-address-method').hide();
                    $('#checkout-confirm').show();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
});
//--></script>