{{ header }}
<div id="error-not-found" class="container mx-auto sm:px-0 px-[20px]">
	<div class="flex justify-center items-center sm:py-[40px] py-[30px]">
		<div id="content" class="col">
			<h1 class="sm:text-[20px] text-[15px] font-bold">{{ heading_title }}</h1>
			<p class="sm:mt-[12px] mt-[9px]">{{ text_error }}</p>
			<div class="sm:mt-[20px] mt-[15px]">
				<div class="">
					<a href="{{ continue }}" class="block text-center min-w-[170px] py-[12px] bg-indigo text-[white] font-semibold uppercase">{{ button_continue }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}
