{{ header }}

<div class="container">
  <h1 class="uppercase sm:mt-[40px] mt-[30px] sm:text-[40px] text-[30px] font-bold flex justify-between">
      {{ heading_title }}
  </h1>
  <div class="">{{text_description}}</div>
</div>

<div id="account-return">
  <form id="form-return" action="{{ save }}" method="post" data-oc-toggle="ajax">
    <div class="sm:mt-[20px] mt-[15px] border-t border-darkBlue sm:pt-[20px] sm:pb-[80px] pt-[15px] pb:-[60px] flex flex-col gap-[14px]">
      <input type="hidden" name="product_id" value="{{ product_id }}"/>
      {# Names #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
        <div class="col-span-2 flex justify-end items-center">
          <label for="input-firstname" class="form-label sm:w-[270px] flex items-center">Full name:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
          </label>
        </div>
        <div class="col-span-2 required grid grid-cols-2 gap-[20px]">
          <div class="">
            <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }} ..." id="input-firstname" class="w-full"/>
          </div>
          <div class="">
            <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }} ..." id="input-lastname" class="w-full"/>
          </div>
        </div>
        <div class="">
          <div id="error-firstname" class="text-[12px] text-orange flex items-center"></div>
          <div id="error-lastname" class="text-[12px] text-orange flex items-center"></div>
        </div>
      </div>

      {# email #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
        <div class="col-span-2 flex justify-end items-center">
          <label for="input-email" class="form-label sm:w-[270px] flex items-center">{{ entry_email }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
          </label>
        </div>
        <div class="col-span-2 required flex items-center">
          <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="w-full"/>
        </div>
        <div id="error-email" class="text-[12px] text-orange flex items-center"></div>
      </div>

      {# Telephone #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
        <div class="col-span-2 flex justify-end items-center">
          <label for="input-telephone" class="form-label sm:w-[270px] flex items-center">{{ entry_telephone }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
          </label>
        </div>
        <div class="col-span-2 required flex items-center">
          <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="w-full"/>
        </div>
        <div id="error-telephone" class="text-[12px] text-orange flex items-center"></div>
      </div>

      {# Order #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
        <div class="col-span-2 flex justify-end items-center">
          <label for="input-order-id" class="form-label sm:w-[270px] flex items-center">{{entry_order_id}} / {{entry_date_ordered}}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
          </label>
        </div>
        <div class="col-span-2 required grid grid-cols-2 gap-[20px]">
          <div class="">
            <input type="text" name="order_id" value="{{ order_id }}" placeholder="{{ entry_order_id }} ..." id="input-order-id" class="w-full"/>
          </div>
          <div class="">
            <input type="date" name="date_ordered" value="{{ date_ordered }}" placeholder="{{ entry_date_ordered }} ..." id="input-date-ordered" class="w-full"/>
          </div>
        </div>
        <div class="">
          <div id="error-order-id" class="text-[12px] text-orange flex items-center"></div>
          <div id="error-order-date" class="text-[12px] text-orange flex items-center"></div>
        </div>
      </div>

      {# product #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px] mt-[20px]">
        <div class="col-span-2 flex justify-end items-center">
          <label for="input-product" class="form-label sm:w-[270px] flex items-center">{{ entry_product }}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
          </label>
        </div>
        <div class="col-span-2 required flex items-center">
          <input type="text" name="product" value="{{ product }}" placeholder="{{ entry_product }}" id="input-product" class="w-full"/>
        </div>
        <div id="error-product" class="text-[12px] text-orange flex items-center"></div>
      </div>

      {# model #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
        <div class="col-span-2 flex justify-end items-center">
          <label for="input-model" class="form-label sm:w-[270px] flex items-center">{{entry_model}} / {{entry_quantity}}:<div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
          </label>
        </div>
        <div class="col-span-2 required grid grid-cols-2 gap-[20px]">
          <div class="">
            <input type="text" name="model" value="{{ model }}" placeholder="{{ entry_model }} ..." id="input-model" class="w-full"/>
          </div>
          <div class="">
            <input type="number" name="quantity" value="{{ quantity }}" placeholder="{{ entry_quantity }} ..." id="input-quantity" class="w-full"/>
          </div>
        </div>
        <div class="">
          <div id="error-model" class="text-[12px] text-orange flex items-center"></div>
          <div id="error-quantity" class="text-[12px] text-orange flex items-center"></div>
        </div>
      </div>

      {# reason #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px] mt-[20px]">
        <div class="col-span-2 flex justify-end">
          <label for="input-reason" class="form-label sm:w-[270px]">
            <div class="flex items-center">
              <div>{{ entry_reason }}:</div><div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
            </div>
          </label>
        </div>
        <div class="col-span-2 required grid grid-cols-2 gap-[20px]">
          {% for return_reason in return_reasons %}
            <div class="flex items-center gap-[10px]">
              <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" id="input-return-reason-{{ return_reason.return_reason_id }}" class="form-check-input"/> <label for="input-return-reason-{{ return_reason.return_reason_id }}" class="form-check-label">{{ return_reason.name }}</label>
            </div>
          {% endfor %}
        </div>
        <div id="error-reason" class="text-[12px] text-orange flex items-center"></div>
      </div>

      {# opened #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px] mt-[20px]">
        <div class="col-span-2 flex justify-end">
          <label for="input-opened" class="form-label sm:w-[270px]">
            <div class="flex items-center">
              <div>{{ entry_opened }}:</div><div class="w-[6px] h-[6px] rounded-full bg-orange ml-[10px]"></div>
            </div>
          </label>
        </div>
        <div class="col-span-2 required grid grid-cols-2 gap-[20px]">
          <div class="flex items-center gap-[10px]">
              <input type="radio" name="opened" value="1" id="input-opened-yes" class="form-check-input" checked/> <label for="input-opened-yes" class="form-check-label">{{ text_yes }}</label>
              <input type="radio" name="opened" value="0" id="input-opened-no" class="form-check-input"/> <label for="input-opened-no" class="form-check-label">{{ text_no }}</label>
          </div>
        </div>
        <div id="error-opened" class="text-[12px] text-orange flex items-center"></div>
      </div>

      {# fault_detail #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px] mt-[20px]">
        <div class="col-span-2 flex justify-end">
          <label for="input-comment" class="form-label sm:w-[270px]">
            <div class="flex items-center">
              {{ entry_fault_detail }}:
            </div>
          </label>
        </div>
        <div class="col-span-2 required flex items-center">
          <textarea type="text" rows="5" name="comment" placeholder="{{ entry_fault_detail }}" id="input-comment" class="w-full"></textarea>
        </div>
        <div id="error-fault-detail" class="text-[12px] text-orange flex items-center"></div>
      </div>

      {# capcha #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
        <div class="col-span-2 flex justify-end items-center">
        </div>
        <div class="col-span-2 required flex items-center">
          {{ captcha }} 
        </div>
      </div>

      {# Buttons #}
      <div class="sm:grid grid-cols-5 sm:gap-[30px] gap-[20px]">
        <div class="col-span-2 flex justify-end">
        </div>
        <div class="col-span-2 required flex justify-between">
          <a href="{{ back }}" class="min-w-[170px] bg-white border border-dark text-center uppercase font-bold py-[14px]">{{ button_back }}</a>
          <button type="submit" id="button-register" class="min-w-[170px] bg-indigo text-center text-[white] uppercase font-bold py-[14px]">{{ button_continue }}</button>
        </div>
      </div>
    </div>
  </form>
</div>

{{ footer }}
