{% if products %}
	<div class="table-responsive">
		<div class="grid sm:grid-cols-5 grid-cols-2 sm:gap-[32px] gap-[15px]">
			{% for product in products %}
				<div class="w-full">
					<form method="post" data-oc-toggle="ajax" data-oc-load="{{ wishlist }} {{ cart_info }}" data-oc-target="#wishlist #header-cart">
						<div class="product-thumb h-full flex flex-col">
							<div class="pt-[10px] px-[10px] flex justify-end">
								<button class="text-[8px] leading-[9px] uppercase px-[10px] py-[5px] rounded-full bg-indigo text-white">LUXURY</button>
							</div>
							<div class="image relative p-[10px]">
								<div class="flex justify-center">
									<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid"/>
								</div>
								<div class="absolute sm:flex hidden bottom-[-57px] w-full flex-col px-[10px] left-0 mt-[20px] gap-[10px]">
									<button type="submit" formaction="{{ add_to_cart }}" title="{{ button_cart }}" class="btn-buy px-[26px] py-[8px] bg-indigo text-white font-semibold flex justify-center sm:mt-0">
										BUY
									</button>
									<button type="submit" formaction="{{ remove }}" title="{{ button_remove }}" class="btn-buy px-[26px] py-[8px] bg-orange text-white font-semibold flex justify-center sm:mt-0">
										REMOVE
									</button>
								</div>
							</div>
							<div class="content grow flex flex-col justify-between text-center p-[10px]">
								<div>
									<h4 class="text-orange font-bold">
										<a href="{{ product.href }}">{{ product.name }}</a>
									</h4>
									<div class="mt-[4px]">
										<a href="{{ product.href }}">{{ product.meta_title }}</a>
									</div>
									<p class="mt-[4px] sm:text-[10px] text-[8px]">{{ product.model }}</p>
								</div>
								{% if product.price %}
									<div class="sm:mt-[38px] mt-[28px] flex justify-between gap-[4px]">
										<div class="">
											<div class="text-[18px] text-dark opacity-[0.3]">{{ product.price }}</div>
											<div class="text-[10px] text-dark opacity-[0.3]">Normal price</div>
										</div>
										<div class="">
											<div class="text-[18px] text-orange">{{ product.price }}</div>
											<div class="text-[10px] text-dark">Member price</div>
										</div>
									</div>
								{% endif %}
							</div>
							<button type="submit" formaction="{{ add_to_cart }}" title="{{ button_cart }}" class="sm:hidden block px-[26px] py-[8px] bg-indigo text-white font-semibold sm:w-[200px] flex justify-center sm:mt-0 mt-[20px]">
								BUY
							</button>
							<input type="hidden" name="product_id" value="{{ product.product_id }}"/>
							<input type="hidden" name="quantity" value="{{ product.minimum }}"/>
						</div>
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
{% else %}
	<p>{{ text_no_results }}</p>
{% endif %}
