{{ header }}
<div id="product-category" class="container">
	<div class="row">{{ column_left }}
		<div id="content" class="col">{{ content_top }}
			<h2 class="sm:py-[40px] py-[32px] sm:text-[40px] text-[30px] font-bold text-center uppercase">
				<span class="text-orange">{{ heading_title }}</span>
				PRODUCTS IN STOCK
			</h2>

			{% if products %}
				<div id="display-control" class="sm:flex sm:justify-between grid grid-cols-2 sm:gap-[30px] gap-[15px] text-center">
					<div class="flex sm:justify-start justify-between sm:gap-[30px] gap-[15px]">
						<div class="sm:flex hidden h-[48px] items-center border-t border-b border-darkBlue sm:w-[170px] justify-center">
							<div class="flex items-center gap-[8px]">
								<div class="block text-[16px]">{{ product_total }}
									PRODUCT
									{% if product_total > 1 %}S
									{% endif %}
								</div>
							</div>
						</div>
						<button data-dropdown-toggle="filter-dropdown" class="flex sm:w-[170px] w-[43px] h-[48px] items-center border-t border-b border-darkBlue justify-center">
							<div class="flex items-center gap-[8px]">
								<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 2.5H15M3 7.5H12M5 12.5H10" stroke="#080E16"/>
								</svg>
								<div class="sm:block hidden text-[16px]">FILTER</div>
							</div>
						</button>
						<div id="filter-dropdown" class="dropdown-menu z-10 hidden bg-white border !border-darkBlue uppercase text-[12px] text-center px-[20px] py-[10px] w-[170px] flex flex-col gap-[8px]">
							{% if categories %}
								{% if categories|length <= 5 %}
									{% for category in categories %}
										<a class="block" href="{{ category.href }}">{{ category.name }}</a>
									{% endfor %}
								{% else %}
									{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
										{% for child in category %}
											<a class="block" href="{{ child.href }}">{{ child.name }}</a>
										{% endfor %}
									{% endfor %}
								{% endif %}
							{% endif %}
						</div>
						<div class="sm:hidden block grow">{{ pagination }}</div>
					</div>
					<div class="flex sm:justify-start justify-between sm:gap-[30px] gap-[15px]">
						<div class="sm:block hidden">{{ pagination }}</div>
						<button data-dropdown-toggle="sort-dropdown" class="flex sm:flex-none grow h-[48px] items-center border-t border-b border-darkBlue sm:w-[170px] justify-center">
							<div class="flex items-center gap-[8px]">
								<div class="block text-[16px] uppercase">
									{% for sorts in sorts %}
										{% if sorts.value == '%s-%s'|format(sort, order) %}
											{{ sorts.text }}
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</button>
						<div id="sort-dropdown" class="dropdown-menu z-10 hidden bg-white border !border-darkBlue uppercase text-[12px] text-center px-[20px] py-[10px] w-[170px] flex flex-col gap-[8px]">
							{% for sorts in sorts %}
								<a href="{{ sorts.href }}" class="block {% if sorts.value == '%s-%s'|format(sort, order) %} font-bold {% endif %}">{{ sorts.text }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
				<div id="product-list" class="grid sm:grid-cols-4 grid-cols-2 sm:gap-[30px] gap-[15px] sm:mt-[40px] mt-[30px]">
					{% for product in products %}
						<div class="">{{ product }}</div>
					{% endfor %}
				</div>
				<div class="sm:flex sm:justify-between grid grid-cols-2 gap-[15px] sm:pt-[40px] sm:pb-[80px] pt-[30px] pb-[60px]">
					<div>
						{% if next_limit != '' %}
							<a href="{{ next_limit }}" class="block sm:w-[210px] w-full h-[48px] flex justify-center items-center border border-darkblue text-center">LOAD MORE PRODUCTS</a>
						{% endif %}
					</div>

					{{ pagination }}
				</div>
			{% endif %}
			{% if not categories and not products %}
				<p>{{ text_no_results }}</p>
				<div class="d-inline-block pt-2 pd-2 w-100">
					<div class="float-end">
						<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
					</div>
				</div>
			{% endif %}
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ section_save_membership }}
{{ section_best_deals }}
{{ footer }}
