<form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart" class="h-full">
	<div class="product-thumb h-full flex flex-col">
		<div class="pt-[10px] px-[10px] flex justify-end">
			<button class="text-[8px] uppercase px-[10px] py-[5px] rounded-full bg-indigo text-white">LUXURY</button>
		</div>
		<div class="image relative p-[10px]">
			<div class="flex justify-center">
				<img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class="img-fluid"/>
			</div>
			<div class="absolute bottom-0 w-full flex justify-center px-[10px]">
				<button type="submit" formaction="{{ add_to_cart }}" title="{{ button_cart }}" class="btn-buy px-[26px] py-[8px] bg-indigo text-white font-semibold sm:w-[200px] flex justify-center sm:mt-0 mt-[20px]">
					BUY
				</button>
			</div>
		</div>
		<div class="content grow flex flex-col justify-between text-center p-[10px]">
			<div>
				<h4 class="text-orange font-bold">
					<a href="{{ href }}">{{ name }}</a>
				</h4>
				<p class="mt-[3px]">{{ description }}</p>
			</div>
			{% if price %}
				<div class="sm:mt-[38px] mt-[28px] flex justify-between gap-[4px]">
					<div class="">
						<div class="text-[18px] text-dark opacity-[0.3]">279$</div>
						<div class="text-[10px] text-dark opacity-[0.3]">Normal price</div>
					</div>
					<div class="">
						<div class="text-[18px] text-orange">{{ price }}</div>
						<div class="text-[10px] text-dark">Member price</div>
					</div>
				</div>
			{% endif %}
			{% if review_status and rating %}
				<div class="rating">
					{% for i in 1..5 %}
						{% if rating < i %}
							<span class="fa-stack">
								<i class="fa-regular fa-star fa-stack-1x"></i>
							</span>
						{% else %}
							<span class="fa-stack">
								<i class="fa-solid fa-star fa-stack-1x"></i>
								<i class="fa-regular fa-star fa-stack-1x"></i>
							</span>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<input type="hidden" name="product_id" value="{{ product_id }}"/>
		<input type="hidden" name="quantity" value="{{ minimum }}"/>
	</div>
</form>
